<%- content_for :page_breadcrumbs, link_to("Home" , "/map")-%>
<%- content_for :page_title_bar, "Search Results" -%>
<!-- ***************** - START Content - ***************** -->
<div id="content" class="content_full_width">
<%- if !current_user-%>
<div class="one_half home_login_form">

</div><!-- end one_half -->
<%-end-%>




<div class="one_half_last home_content_updates">
  <h2>Search Results</h2>
  <br />
  <!--p>Donec id elit non mi porta gravida at eget metus. Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p-->
    <%if @results.blank? || @results == ""%>
      <p>No results found.</p>
    <%else%>
    <ul class="list">
        <% @results.each do |x| %>
          <li><%= link_to x.name,"/activity/#{x.id}"%></li>
        <%end%>
    </ul>
    <%end%>
</div><!-- end one_half_last -->




</div><!-- end content -->


