<%- content_for :page_title_bar, "InfoReady Delivery Methodology" -%>
<%- content_for :page_breadcrumbs, link_to("Home" , "/map") +link_to(@stage.first.phase.name , "/map") unless @stage.blank? -%>

<div id="content" class="content_full_width">
<div class="home_content_updates map_buttons">
    <% @stage.each do |x| %>
      <a title="<%=x.name%>" href="/map/activity/<%=x.id%>"><button class="cupid-blue"><%=x.name%></button></a><br/>
    <%end%>
</div><!-- end one_half_last -->
</div><!-- end content -->